/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #ff6347;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.featured {
    margin-top: 30px;
}

.featured h2 {
    text-align: center;
    font-size: 2rem;
    color: #ff6347;
}

.book-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.book-item {
    background-color: #ffebcd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.book-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.book-item h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    color: #333;
}

.book-item p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #ff6347;
}

.book-item button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-item button:hover {
    background-color:  #eb816e;
}


footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #555;
}
button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .moreinfo{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
     padding: auto;
  }
  
  .moreinfo:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: 20px;
    transition: 0.25s;
  }
  
  .moreinfo:hover{
    padding-right: 20px;
    padding: left 12px;
  }
  
  .moreinfo:hover:after {
    opacity: 1;
    right: 10px;
  }

footer a {
    color: #ff6347;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
